.filters form {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 5%;
    background-color: white;
    border-radius: 12px;
    margin-top: 60px;
    font-weight: 600;
    color: var(--grayDark);
    box-shadow: 2px 8px 16px rgb(24 50 115 / 10%);
    padding: 11px;
}

.filters form input {
    background-color: var(--grayLight);
    border: none;
    padding: 8px;
    border-radius: 6px;
    color: white;
    font-weight: 600;
    margin-bottom: 8px;
    cursor: pointer;
    transition: 0.5s ease all;
}
.todos {
    margin-top: 10px;
    background-color: var(--grayDark)!important;
}

#materias {
    border: 2px solid var(--grayLight);
    margin-bottom: 4px;
    padding: 5px;
    border-radius: 4px;
    font-family: var(--Noto);
    font-weight: 500;
    font-size: 14px;
    color: var(--grayDark);
    background-color: transparent;
}

.filters form input:hover {
    background-color: var(--grayDark)!important;
    transition: 0.5s ease all;
}

    .filter-btn {
        display: none;
        
    }

@media screen and (max-width: 1023px) { 
    

    .filter-panel {
        opacity:0;
        pointer-events: none;
    }
    
    .filters form {
        position: fixed;
        bottom: 48px;
        left: 0;
        right: 0;
        border: 2px solid var(--blue);
        z-index: 4;
    }
    
    .filter-btn {
        display: block;
        opacity: 1;
        position: fixed;
        bottom: 0;
        width: 100%;
        background: var(--blue);
        padding: 14px;
        border: none;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        color: white;
        font-weight: 600;
        
    }
    
      .showPanel{
        opacity:1;
       pointer-events: all;
      }

}
    
   