.container {
    background-color: var(--blue);
    height: 100vh;
    display: flex;
    flex-direction: column;
    animation-name: slide;
    animation-duration: 1.2s;
    animation-timing-function: ease;
}

.out {
    animation-name: slide-out;
    animation-duration: 1.2s;
    animation-timing-function: ease;
}


body {
     background: linear-gradient(148deg, var(--blue) 0%, var(--blue) 100%); 
}

h2 {
    color: white;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

p {
    color: white;
    display: flex;
    justify-content: center;
    margin: 24px auto;
    font-size: 18px;
    font-weight: 500;
}
.checkmark_circle_success {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 5px;
    stroke-miterlimit: 10;
    stroke: var(--yellow);
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}
.checkmark_circle_error {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 5px;
    stroke-miterlimit: 10;
    stroke: var(--red);
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}
.checkmark {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    stroke-width: 5px;
    stroke: white;
    stroke-miterlimit: 10;
    margin: 10% auto 5%;
}
.checkmark.success {
    box-shadow: inset 0px 0px 0px var(--yellow);
    animation: fillsuccess 0.4s ease-in-out 0.4s forwards, scale 0.3s ease-in-out 0.9s both;
}
.checkmark.error {
    box-shadow: inset 0px 0px 0px var(--red);;
    animation: fillerror 0.4s ease-in-out 0.4s forwards, scale 0.3s ease-in-out 0.9s both;
}
.checkmark_check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.9s forwards;
}
.progress {
    transform: rotate(-90deg);
    stroke: black;
}
.progress circle {
    stroke-dasharray: 130;
    stroke-dashoffset: 130;
    animation: dash 1.5s infinite;
}
@keyframes dash {
    50% {
        stroke-dashoffset: 0;
   }
    100% {
        stroke-dashoffset: -130;
   }
}
.progress {
    position: absolute;
    top: 5%;
    left: 5%;
}
.progress.progress--thin {
    left: auto;
    right: 5%;
}
@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
   }
}
@keyframes scale {
    0%, 100% {
        transform: none;
   }
    50% {
        transform: scale3d(1.1, 1.1, 1);
   }
}
@keyframes fillsuccess {
    100% {
        box-shadow: inset 0px 0px 0px 75px var(--yellow);
   }
}
@keyframes fillerror {
    100% {
        box-shadow: inset 0px 0px 0px 75px var(--red);;
   }
}
